<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý bài đăng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">Tìm trọ Sever</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="  navbar-nav fmy-2 my-lg-0  mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/createAdAc">Quản lý nhân viên</a>
                </li>
            </ul>

            <ul class="  navbar-nav fmy-2 my-lg-0 ">
                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark text-light dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài khoản
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/index">Tài khoản của bạn</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Đăng xuất</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <div class="row">
        <div class="col-sm-2">
            <div class="list-group">

                <a href="/index" class="list-group-item list-group-item-action">
                    Thống kê
                </a>
                <a href="/postManage" class="list-group-item list-group-item-action">
                    Quản lý bài đăng
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Quản lý tìm ở ghép
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Quản lý dịch vụ chuyển đồ
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Quản lý người dùng
                </a>
            </div>
        </div>
        <div class="col-sm-10 bg-light" style="padding-right: 3%">
            <table style="margin-top: 10px" class="table table-bordered table-info">
                <thead class="thead-dark ">
                <tr>
                    <th colspan="5">Thống kê số bài đăng</th>
                </tr>
                <tr>
                    <th scope="col">Số bài chưa duyệt</th>
                    <th scope="col">Số bài đang duyệt</th>
                    <th scope="col">Số bài đã duyệt</th>
                    <th scope="col">Tổng số</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </table>


            <table class="table table-bordered table-info">
                <thead class="thead-dark ">
                <tr>
                    <th colspan="5">Danh sách số bài chưa duyệt</th>
                </tr>
                <tr>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Thông tin bài đăng</th>
                    <th scope="col">Thông tin người đăng</th>
                    <th scope="col">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>27/10/2019</td>
                    <td>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                    </td>
                    <td>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                    </td>
                    <td>
                        <button style="margin-bottom: 10px" type="submit" name="update" value="1"
                                class="btn btn-warning">Duyệt
                        </button>
                        <br>
                        <button style="margin-bottom: 10px" type="submit" name="update" value="1"
                                class="btn btn-warning">Xóa
                        </button>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered table-info">
                <thead class="thead-dark ">
                <tr>
                    <th colspan="5">Danh sách số bài đã duyệt</th>
                </tr>
                <tr>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Thông tin bài đăng</th>
                    <th scope="col">Thông tin người đăng</th>
                    <th scope="col">Thông tin người duyệt</th>
                    <th scope="col">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>27/10/2019</td>
                    <td>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                    </td>
                    <td>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                    </td>
                    <td>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                    </td>
                    <td>
                        <button style="margin-bottom: 10px" type="submit" name="update" value="1"
                                class="btn btn-warning">Tiếp tục duyệt
                        </button>
                        <br>
                        <button style="margin-bottom: 10px" type="submit" name="update" value="1"
                                class="btn btn-warning">Sửa
                        </button>
                        <br>
                        <button style="margin-bottom: 10px" type="submit" name="update" value="1"
                                class="btn btn-warning">Xóa
                        </button>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered table-info">
                <thead class="thead-dark ">
                <tr>
                    <th colspan="5">Danh sách số bài đã duyệt</th>
                </tr>
                <tr>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Thông tin bài đăng</th>
                    <th scope="col">Thông tin người đăng</th>
                    <th scope="col">Thông tin người duyệt</th>
                    <th scope="col">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>27/10/2019</td>
                    <td>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                    </td>
                    <td>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                    </td>
                    <td>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                        <br>
                        <div>_id</div>
                    </td>
                    <td>
                        <button style="margin-bottom: 10px" type="submit" name="update" value="1"
                                class="btn btn-warning">Sửa
                        </button>
                        <br>
                        <button style="margin-bottom: 10px" type="submit" name="update" value="1"
                                class="btn btn-warning">Xóa
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>
</html>